<h1><%= "#{@user.firstname} #{@user.lastname}" %></h1>

<ul>
  <%= render @user.user_tools %>
</ul>

<%= link_to "Manage Tool List", user_manage_tools_path(user_id: @user.id) %>
<%= link_to "Edit User Details", edit_user_path %>